.menu-items {
    display: block;
    margin-bottom: 25px;

    .main-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            display: flex;
            align-items: center;

            .icon {
                margin-right: 20px;
            }

            h4 {
                margin: 0;
                color: #5B5B5B;
                font-size: 22px;
            }
        }


    }

    div[class*="menu-dropdown"] {
        div {
            transition: all 200ms linear;
            text-align: center;
            background-color: #EFEFEF;
            margin-top: 10px;
            margin-bottom: 3px;
            padding: 7px;

            &:hover {
                background-color: #C4C4C4;
            }

            a {
                text-decoration: none;
                color: #5B5B5B;
                font-size: 24px;
            }
        }
    }

    @for $i from 0 to 9 {
        .menu-dropdown-#{$i} {
            div {
                display: none;

            }
        }

        .menu-dropdown-#{$i}.responsive div {
            display: block;

        }

        .arrow-#{$i} {
            transition: all 200ms linear;
        }

        .arrow-#{$i}.responsive {
            transform: rotate(180deg);
        }
    }

}