@mixin dropdown-mixin {
    display: none;
    position: absolute;
    z-index: 1;
    background: #FFFFFF;
    border: 2px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 20px 18px 20px 9px;
}

.dropdown {
    display: inline-block;
    position: relative;

    &:hover {
        cursor: pointer;

        div[class*="dropdown-content"] {
            display: block;
        }
        .profile-arrow {
            transform: rotate(180deg);
        }
        .notification-img {
            transform: rotate(40deg);
        }
    }
}

.notification-img {
    transition: all 200ms linear;
}

.dropdown .profile-arrow {
    transition: all 200ms linear;
}

.notification-dropdown-content {
    @include dropdown-mixin();
    right: -100px;
    width: 250px;


    .dropdown-links {
        display: flex;
        align-items: center;

        img {
            margin-right: 15px;
        }

        p,
        a {
            margin: 0;
            padding: 0;
        }

        p {
            color: #C4C4C4;
            font-weight: 500;
            size: 12px;
        }

        a {
            color: #5B5B5B;
            font-weight: 500;
            size: 14px;
            text-decoration: none;
        }
    }
}

.user-dropdown-content {
    @include dropdown-mixin();
    display: none;
    left: -200px;
    top: 35px;
    width: 280px;

    .dropdown-links {
        display: flex;
        align-items: center;

        img {
            margin-right: 15px;
        }

        p,
        a {
            margin: 0;
            padding: 0;
        }

        p {
            color: #C4C4C4;
            font-weight: 500;
            size: 12px;
        }

        a {
            color: #5B5B5B;
            font-weight: 500;
            size: 14px;
            text-decoration: none;
        }
    }

    .user-btn-container {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #9C3030;
        border-radius: 7px;
        .user-btn {
            display: flex;
            justify-content: center;
            width: 100%;
            color: #ffffff;
            text-align: center;
            
        }
    }
}

@media (max-width: 768px) {
    .notification-dropdown-content {
        right: -30px;
    }
    .user-dropdown-content {
        left: -250px;
        top: 40px;
    }
}
